:root {
  --primary-white-color: #fff;
  --secondary-background-color: #f5f4fa;
  --third-background-color: #2f303a;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --logo-black-color: #000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --header-border-color: rgba(236, 236, 236, 1);
  --portfolio-border-color: rgba(238, 238, 238, 1);
  --icons-color: #afb1b8;
  --footer-icon-background: rgba(255, 255, 255, 0.1);
  --footer-input-border-color: rgba(255, 255, 255, 0.3);
  --modal-input-border-color: rgba(33, 33, 33, 0.2);
  --section-text-background: rgba(47, 48, 58, 0.8);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --portfolio-overlay-background: rgba(33, 150, 243, 0.9);
  --backdrop-background: rgba(0, 0, 0, 0.2);
  --modal-textarea-placeholde-color: rgba(117, 117, 117, 0.5);
  --modal-button-background-color: #188ce8;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.images {
  display: block;
}
/* LOGO */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-black-color);
}
.logo__text {
  color: var(--accent-color);
}
.logo--text-white {
  color: var(--primary-white-color);
}

/* HEADER */
.page-header {
  border-bottom: 1px solid var(--header-border-color);
}
.page-header__container,
.site-nav,
.site-nav__list,
.contact-nav {
  display: flex;
  align-items: center;
}
.site-nav__list {
  margin-left: 93px;
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}
.contact-nav {
  margin-left: auto;
}
.contact-nav__item:not(:last-child) {
  margin-right: 30px;
}
.contact-nav__icons {
  margin-right: 10px;
}
.site-nav__link,
.contact-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav__link {
  color: var(--title-text-color);

  transition: color 250ms var(--timing-function);
}
.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}
.site-nav__list .link.current {
  position: relative;
  color: var(--accent-color);
}
.site-nav__list .link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;
}
.contact-nav__link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  fill: var(--primary-text-color);

  transition: color 250ms var(--timing-function),
    fill 250ms var(--timing-function);
}
.contact-nav__link:hover,
.contact-nav__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

/* SECTION HERO */
.hero {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-right: auto;
  margin-left: auto;

  text-align: center;

  background-repeat: no-repeat;
  background-color: var(--third-background-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.button,
.modal-form-button {
  padding: 10px 32px;
  border: 1px solid transparent;
  border-radius: 4px;
  min-width: 200px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* OTHER SECTION */

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-text-color);
}

/* Section our specifics */

.features-list__title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
/* .specifics-list-item {
  width: calc((100%-90px) / 3);
} */
/* .specifics-list-item:not(:last-child),
.works-list-item:not(:last-child) {
  margin-right: 30px;
} */
.features-list__text {
  margin: 0;
}
.features-list__wrapper {
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;

  background: var(--secondary-background-color);
  border-radius: 4px;
}

/* Section our works */
.our-works {
  padding-bottom: 94px;
}
.works-list {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.works-list__item {
  position: relative;
}
.works-list__text {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--section-text-background);
  color: var(--primary-white-color);
}
/* Section our team */

.team-list__title {
  color: var(--title-text-color);
}
.our-team {
  background-color: var(--secondary-background-color);
}

.team-list__title,
.team-list__text {
  margin-top: 0;
  font-size: 16px;
  line-height: 1.19;
}
.team-list__title {
  margin-bottom: 10px;
  font-weight: 500;
}
.team-list__text {
  margin-bottom: 16px;
}
.team-list {
  display: flex;
}

.team-list__item {
  width: calc((100%-90px) / 4);
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list__item:not(:last-child) {
  margin-right: 30px;
}
.team-list__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;

  background-color: var(--primary-white-color);
}
.socials-list {
  display: flex;
}
.socials-list__item {
  width: 44px;
  height: 44px;
}
.socials-list__item:not(:last-child) {
  margin-right: 10px;
}
.socials-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: var(--icons-color);

  transition: background-color 250ms var(--timing-function),
    fill 250ms var(--timing-function);
}
.socials-list__link:hover,
.socials-list__link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}

/* Section our clients */
.clients-list {
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
}
.clients-list__item {
  width: 170px;
  height: 92px;
}
.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  border: 1px solid var(--icons-color);
  border-radius: 4px;
  fill: var(--icons-color);

  transition: fill 250ms var(--timing-function),
    border-color 250ms var(--timing-function);
}
.clients-list__link:hover,
.cclients-list__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}
/* .clients-list-item:not(:last-child) {
  margin-right: 30px;
} */

/* МОДАЛЬНОЕ ОКНО */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: var(--backdrop-background);

  opacity: 1;
  transform: scale(1);

  transition: opacity 500ms var(--timing-function),
    transform 500ms var(--timing-function);
}
.is-hidden {
  pointer-events: none;
  opacity: 0;
  transform: scale(0.5);
}

.modal-form-container {
  position: absolute;
  top: 50%;
  left: 50%;

  min-height: 581px;
  min-width: 528px;
  padding: 40px;

  transform: translate(-50%, -50%) scale(1);

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 500ms var(--timing-function);
}
.is-hidden .modal-form-container {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal-button-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  padding: 0;
  margin-left: auto;

  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  transition: fill 250ms var(--timing-function);
}
.modal-button-close:hover,
.modal-button-close:focus {
  fill: var(--accent-color);
}
.modal-form__title {
  margin-top: 0;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--title-text-color);
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form__text {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}
.modal-form__input {
  padding: 12px 42px;
  width: 100%;
  height: 40px;
  border: 1px solid var(--modal-input-border-color);
  border-radius: 4px;
  outline: none;

  transition: border-color 250ms var(--timing-function);
}
.modal-form__label-textarea {
  margin-bottom: 20px;
}
.modal-form__textarea {
  display: block;
  padding: 12px 16px;
  width: 100%;
  height: 120px;

  border: 1px solid var(--modal-input-border-color);
  border-radius: 4px;
  resize: none;
  outline: none;

  transition: border-color 250ms var(--timing-function);
}
.modal-form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--modal-textarea-placeholde-color);
}
.modal-form__label {
  position: relative;
  margin-bottom: 10px;

  transition: fill 250ms var(--timing-function);
}
.modal-form__label:focus-within {
  fill: var(--accent-color);
}
.modal-form__input:focus,
.modal-form__textarea:focus {
  border-color: var(--accent-color);
}
.modal-form__icons {
  position: absolute;
  bottom: 11px;
  left: 12px;
}
.modal-form__label-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.modal-form__checkbox-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;

  transition: background-color 250ms var(--timing-function),
    border 250ms var(--timing-function);
}
.modal-form__icons-checkbox {
  width: 100%;
  height: 100%;
}

.modal-form__checkbox:checked + .modal-form__checkbox-wrapper {
  background-color: var(--accent-color);
  border: none;
}
.modal-form__checkbox-link {
  color: var(--accent-color);
}
.modal-form__button {
  align-self: center;
  background-color: var(--modal-button-background-color);
}

/* FOOTER */
.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--third-background-color);
}
.footer-section__container {
  display: flex;
  align-items: baseline;
}
.address {
  margin-top: 20px;
  font-style: normal;
}
.address__text {
  margin-top: 0;
  margin-bottom: 9px;
  color: var(--primary-white-color);
}
.address-list__link {
  color: var(--footer-text-color);

  transition: color 250ms var(--timing-function);
}
.address-list__link:hover,
.address-list__link:focus {
  color: var(--accent-color);
}
.address-list__item:not(:last-child) {
  margin-bottom: 9px;
}
.address-container {
  margin-right: 70px;
}

.footer-socials-container {
  margin-right: 93px;
}
.footer-socials-container__text,
.footer-text-form {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
/* .footer-list-icons {
  display: flex;
} */
/* .footer-list-icons-items {
  width: 44px;
  height: 44px;
}
.footer-list-icons-items:not(:last-child) {
  margin-right: 10px;
} */
/* .footer-link-icons  */
/* display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%; */
.socials-list__link--fill-white {
  fill: var(--primary-white-color);
}
.socials-list__link--background-grey {
  background-color: var(--footer-icon-background);
}

/* transition: background-color 250ms var(--timing-function); */

/* .footer-link-icons:hover,
.footer-link-icons:focus {
  background-color: var(--accent-color);
} */

.footer-form-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 29px;
  padding-right: 28px;
}
.footer-input {
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;

  width: 358px;
  height: 50px;

  background-color: var(--third-background-color);
  border: 1px solid var(--footer-input-border-color);
  border-radius: 4px;
  outline: none;
}
.footer-input::placeholder,
.footer-input {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
}
.footer-form__wrapper {
  display: flex;
}
.footer-label {
  margin-right: 12px;
}

/* PORTFOLIO */
.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-button {
  padding: 6px 22px;
  border-radius: 4px;
  border: 1px solid transparent;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
  cursor: pointer;

  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}
.button-list__item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-button--active {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.examples-list__title {
  margin-top: 0;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.examples-list__text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}
.examples-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  /* flex-wrap: wrap;
  margin-right: -30px;
  margin-top: -30px; */
}
.examples-list__wrapper {
  padding: 20px 24px;
  background-color: var(--primary-white-color);
  border: 1px solid var(--portfolio-border-color);
}
/* .examples-list-item {
  margin-right: 30px;
  margin-top: 30px;
} */
.examples-list__link {
  display: block;
  transition: box-shadow 250ms var(--timing-function);
}
.examples-list__link:hover,
.examples-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.examples-list__link:hover .examples-list__description {
  transform: translateY(0);
}
.examples-list__description {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
  padding: 63px 24px;
  margin: 0;

  font-size: 18px;
  line-height: 1.56;
  background-color: var(--portfolio-overlay-background);
  color: var(--primary-white-color);

  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
}
.examples-list__thumb {
  position: relative;
  overflow: hidden;
}
